/subscription-manager-api/HELP.md
/subscription-manager-api/target/
/subscription-manager-api/!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
/subscription-manager-api/.apt_generated
/subscription-manager-api/.classpath
/subscription-manager-api/.factorypath
/subscription-manager-api/.project
/subscription-manager-api/.settings
/subscription-manager-api/.springBeans
/subscription-manager-api/.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/subscription-manager-api/nbproject/private/
/subscription-manager-api/nbbuild/
/subscription-manager-api/dist/
/subscription-manager-api/nbdist/
/subscription-manager-api/.nb-gradle/
/subscription-manager-api/build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
react-ui/.vscode/

# dependencies
react-ui/node_modules
react-ui/.pnp
react-ui/.pnp.js

# testing
react-ui/coverage

# production
react-ui/build

# misc
react-ui/.DS_Store
react-ui/.env.local
react-ui/.env.development.local
react-ui/.env.test.local
react-ui/.env.production.local

react-ui/npm-debug.log*
react-ui/yarn-debug.log*
react-ui/yarn-error.log*

